.codex
.git
.github
.gitignore
.turbo
.env
.env.*
.next
.vercel
coverage
dist
node_modules
npm-debug.log*
*.log

apps/mobile
apps/*/.next
apps/*/coverage
apps/*/dist
apps/*/node_modules
apps/*/.turbo

packages/*/coverage
packages/*/dist
packages/*/node_modules
packages/*/.turbo
